{
  "openapi": "3.1.0",
  "info": {
    "title": "Tembo Public API",
    "description": "Manage agents, sessions, repositories, and organization resources with the Tembo API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tembo.io/",
      "description": "Tembo API"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "TipTapDocument": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/TipTapNode"
          },
          {
            "$ref": "#/components/schemas/CustomDocument"
          }
        ],
        "description": "Rich-text document containing text, formatting, images, and mentions. A document typically has a \"doc\" root with nested content nodes.",
        "example": {
          "type": "doc",
          "content": [
            {
              "type": "paragraph",
              "content": [
                {
                  "type": "text",
                  "text": "Hello"
                }
              ]
            }
          ]
        }
      },
      "TipTapNode": {
        "anyOf": [
          {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "image"
                  },
                  "attrs": {
                    "$ref": "#/components/schemas/TipTapImageAttributes"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              },
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "mention"
                  },
                  "attrs": {
                    "$ref": "#/components/schemas/TipTapMentionAttributes"
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              },
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "heading"
                  },
                  "attrs": {
                    "type": "object",
                    "properties": {
                      "level": {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 6
                      }
                    },
                    "additionalProperties": {}
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              },
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "orderedList"
                  },
                  "attrs": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "integer"
                      },
                      "type": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              },
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "taskItem"
                  },
                  "attrs": {
                    "type": "object",
                    "properties": {
                      "checked": {
                        "type": "boolean"
                      }
                    },
                    "additionalProperties": {}
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              },
              {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string",
                    "maxLength": 1000000
                  },
                  "marks": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/TipTapLinkMark"
                        },
                        {
                          "$ref": "#/components/schemas/TipTapMark"
                        }
                      ]
                    },
                    "maxItems": 1000
                  },
                  "type": {
                    "type": "string",
                    "const": "codeBlock"
                  },
                  "attrs": {
                    "type": "object",
                    "properties": {
                      "language": {
                        "type": [
                          "string",
                          "null"
                        ]
                      }
                    },
                    "additionalProperties": {}
                  },
                  "content": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/TipTapNode"
                    },
                    "maxItems": 10000
                  }
                },
                "required": [
                  "type"
                ],
                "additionalProperties": {}
              }
            ]
          },
          {
            "$ref": "#/components/schemas/TipTapContentNode"
          }
        ]
      },
      "TipTapImageNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "image"
          },
          "attrs": {
            "$ref": "#/components/schemas/TipTapImageAttributes"
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapLinkMark": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "link"
          },
          "attrs": {
            "type": "object",
            "properties": {
              "href": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "target": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "rel": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "class": {
                "type": [
                  "string",
                  "null"
                ]
              },
              "title": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapMark": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "not": {
              "enum": [
                "link"
              ]
            }
          },
          "attrs": {
            "$ref": "#/components/schemas/TipTapExtensionAttributes"
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapExtensionAttributes": {
        "type": "object",
        "additionalProperties": {}
      },
      "TipTapImageAttributes": {
        "type": "object",
        "properties": {
          "src": {
            "type": [
              "string",
              "null"
            ]
          },
          "alt": {
            "type": [
              "string",
              "null"
            ]
          },
          "title": {
            "type": [
              "string",
              "null"
            ]
          },
          "width": {
            "type": [
              "string",
              "null"
            ]
          },
          "data-uploading": {
            "type": [
              "string",
              "null"
            ]
          },
          "data-placeholder-id": {
            "type": [
              "string",
              "null"
            ]
          },
          "upload-progress": {
            "type": [
              "string",
              "null"
            ]
          }
        },
        "additionalProperties": {}
      },
      "TipTapMentionNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "mention"
          },
          "attrs": {
            "$ref": "#/components/schemas/TipTapMentionAttributes"
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapMentionAttributes": {
        "type": "object",
        "properties": {
          "id": {
            "type": [
              "string",
              "null"
            ]
          },
          "label": {
            "type": [
              "string",
              "null"
            ]
          },
          "type": {
            "type": [
              "string",
              "null"
            ]
          },
          "mentionSuggestionChar": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "integrationType": {
                "type": "string"
              },
              "codeRepositoryId": {
                "type": "string"
              },
              "isHeader": {
                "type": "boolean"
              },
              "argumentHint": {
                "type": "string"
              },
              "commandName": {
                "type": "string"
              },
              "source": {
                "type": "string"
              }
            },
            "additionalProperties": {}
          }
        },
        "additionalProperties": {}
      },
      "TipTapHeadingNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "heading"
          },
          "attrs": {
            "type": "object",
            "properties": {
              "level": {
                "type": "integer",
                "minimum": 1,
                "maximum": 6
              }
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapOrderedListNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "orderedList"
          },
          "attrs": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer"
              },
              "type": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapTaskItemNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "taskItem"
          },
          "attrs": {
            "type": "object",
            "properties": {
              "checked": {
                "type": "boolean"
              }
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapCodeBlockNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "const": "codeBlock"
          },
          "attrs": {
            "type": "object",
            "properties": {
              "language": {
                "type": [
                  "string",
                  "null"
                ]
              }
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": {}
      },
      "TipTapContentNode": {
        "type": "object",
        "properties": {
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "marks": {
            "type": "array",
            "items": {
              "anyOf": [
                {
                  "$ref": "#/components/schemas/TipTapLinkMark"
                },
                {
                  "$ref": "#/components/schemas/TipTapMark"
                }
              ]
            },
            "maxItems": 1000
          },
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "not": {
              "enum": [
                "image",
                "mention",
                "heading",
                "orderedList",
                "taskItem",
                "codeBlock"
              ]
            }
          },
          "attrs": {
            "$ref": "#/components/schemas/TipTapExtensionAttributes"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TipTapNode"
            },
            "maxItems": 10000
          }
        },
        "additionalProperties": {}
      },
      "CustomDocument": {
        "type": "object",
        "additionalProperties": {},
        "description": "Rich-text content with custom document properties and node attributes."
      },
      "MessageEventData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "scope": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "foreground",
                  "subagent",
                  "background"
                ]
              },
              "parentToolUseId": {
                "type": "string"
              },
              "taskId": {
                "type": "string"
              }
            },
            "required": [
              "kind"
            ],
            "additionalProperties": true
          },
          "source": {
            "type": "string"
          },
          "providerEvent": {
            "type": "boolean"
          },
          "delivery": {
            "type": "string",
            "enum": [
              "realtime",
              "persist"
            ]
          },
          "event": {
            "type": "object",
            "properties": {
              "event": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "provider": {
                "type": "string"
              },
              "messageId": {
                "type": "string"
              }
            },
            "required": [
              "event",
              "message"
            ],
            "additionalProperties": true
          },
          "index": {
            "type": "integer"
          },
          "itemId": {
            "type": "string"
          },
          "sequenceNumber": {
            "type": "integer"
          },
          "accumulatedText": {
            "type": "string"
          },
          "deltaType": {
            "type": "string",
            "enum": [
              "text_delta",
              "input_json_delta"
            ]
          },
          "responsePhase": {
            "type": "string",
            "enum": [
              "commentary",
              "final_answer"
            ]
          },
          "toolName": {
            "type": "string"
          },
          "snapshotId": {
            "type": "string"
          },
          "snapshotCreatedAt": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "CustomMessageEventData": {
        "type": "object",
        "additionalProperties": {},
        "description": "Message event data with runtime-specific fields."
      },
      "AgentOptionsInput": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "reasoningLevel": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "mode": {
                "type": "string",
                "enum": [
                  "normal",
                  "planning"
                ]
              },
              "speed": {
                "type": "string",
                "enum": [
                  "normal",
                  "fast"
                ]
              },
              "goal": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean"
                  },
                  "objective": {
                    "type": "string",
                    "maxLength": 100000
                  }
                },
                "additionalProperties": false
              }
            },
            "additionalProperties": true
          },
          {
            "$ref": "#/components/schemas/RuntimeAgentOptions"
          }
        ],
        "description": "Execution settings for the selected agent runtime, including provider-specific options."
      },
      "AgentOptions": {
        "type": "object",
        "properties": {
          "reasoningLevel": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "mode": {
            "type": "string",
            "enum": [
              "normal",
              "planning"
            ]
          },
          "speed": {
            "type": "string",
            "enum": [
              "normal",
              "fast"
            ]
          },
          "goal": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "objective": {
                "type": "string",
                "maxLength": 100000
              }
            },
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "RuntimeAgentOptions": {
        "type": "object",
        "additionalProperties": {},
        "description": "Runtime-specific execution settings and provider extensions."
      },
      "SessionTipTapDocument": {
        "allOf": [
          {
            "$ref": "#/components/schemas/SessionDocumentNode"
          },
          {
            "$ref": "#/components/schemas/TipTapDocument"
          }
        ]
      },
      "SessionDocumentNode": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "text": {
            "type": "string",
            "maxLength": 1000000
          },
          "attrs": {
            "type": "object",
            "additionalProperties": {}
          },
          "marks": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 100
                },
                "attrs": {
                  "type": "object",
                  "additionalProperties": {}
                }
              },
              "required": [
                "type"
              ],
              "additionalProperties": false
            },
            "maxItems": 1000
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SessionDocumentNode"
            },
            "maxItems": 10000
          }
        },
        "additionalProperties": false
      },
      "SessionEventData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "maxLength": 100
          },
          "scope": {
            "type": "object",
            "properties": {
              "kind": {
                "type": "string",
                "enum": [
                  "foreground",
                  "subagent",
                  "background"
                ]
              },
              "parentToolUseId": {
                "type": "string",
                "maxLength": 1000
              },
              "taskId": {
                "type": "string",
                "maxLength": 1000
              }
            },
            "required": [
              "kind"
            ]
          },
          "source": {
            "type": "string",
            "maxLength": 500
          },
          "providerEvent": {
            "type": "boolean"
          },
          "delivery": {
            "type": "string",
            "enum": [
              "realtime",
              "persist"
            ]
          },
          "event": {
            "type": "object",
            "properties": {
              "event": {
                "type": "string",
                "maxLength": 500
              },
              "message": {
                "type": "string",
                "maxLength": 1000000
              },
              "provider": {
                "type": "string",
                "maxLength": 100
              },
              "messageId": {
                "type": "string",
                "maxLength": 1000
              }
            },
            "required": [
              "event",
              "message"
            ]
          },
          "index": {
            "type": "integer"
          },
          "itemId": {
            "type": "string",
            "maxLength": 1000
          },
          "sequenceNumber": {
            "type": "integer"
          },
          "accumulatedText": {
            "type": "string",
            "maxLength": 1000000
          },
          "deltaType": {
            "type": "string",
            "enum": [
              "text_delta",
              "input_json_delta"
            ]
          },
          "responsePhase": {
            "type": "string",
            "enum": [
              "commentary",
              "final_answer"
            ]
          },
          "toolName": {
            "type": "string",
            "maxLength": 1000
          },
          "snapshotId": {
            "type": "string"
          },
          "snapshotCreatedAt": {
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "AgentState": {
        "type": "object",
        "additionalProperties": {},
        "description": "User-defined state keyed by name. Values may be any JSON value, including nested objects and arrays. No application-specific keys are required."
      },
      "TriggerFilters": {
        "anyOf": [
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueAddedToBoardFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueAssignedToUserFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueCreatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueLabelAddedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueStatusChangedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/AtlassianIssueUpdatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/BitbucketPullRequestOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubCreateFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubIssueClosedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubIssueCommentCreatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubIssueOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubPullRequestClosedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubPullRequestMergedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubPullRequestOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubPullRequestReadyForReviewFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubReleasePublishedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubPullRequestSynchronizeFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubTemboPullRequestOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GithubWorkflowRunFailedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabBotMergeRequestCommentFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabIssueClosedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabIssueOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabMergeRequestClosedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabMergeRequestMergedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabMergeRequestOpenedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabMergeRequestUpdatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabPipelineFailedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/GitlabRefCreatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinearIssueCreateFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinearIssueLabelAddedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinearIssueStatusChangedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/LinearIssueUpdatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SentryIssueCreatedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SlackMessageReactionAddedFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/SlackMessageSentInChannelFilters"
              }
            ],
            "additionalProperties": {}
          },
          {
            "type": "object",
            "properties": {
              "spaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page is in a space with one of these names or IDs"
              },
              "titleContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page title contains one of these substrings"
              }
            },
            "additionalProperties": {}
          },
          {
            "type": "object",
            "properties": {
              "spaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page is in a space with one of these names or IDs"
              },
              "titleContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page title contains one of these substrings"
              },
              "previousSpaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page was moved from a space with one of these names or IDs"
              }
            },
            "additionalProperties": {}
          },
          {
            "type": "object",
            "properties": {
              "spaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page is in a space with one of these names or IDs"
              },
              "titleContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page title contains one of these substrings"
              },
              "locations": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "footer",
                    "inline"
                  ]
                },
                "description": "Only trigger for footer comments, inline comments, or both"
              }
            },
            "additionalProperties": {}
          },
          {
            "type": "object",
            "properties": {
              "spaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page is in a space with one of these names or IDs"
              },
              "titleContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page title contains one of these substrings"
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the added label has one of these values"
              },
              "commentContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the comment contains one of these substrings"
              }
            },
            "additionalProperties": {}
          },
          {
            "type": "object",
            "properties": {
              "spaces": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page is in a space with one of these names or IDs"
              },
              "titleContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the page title contains one of these substrings"
              },
              "labels": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the removed label has one of these values"
              },
              "commentContains": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Only trigger if the comment contains one of these substrings"
              }
            },
            "additionalProperties": {}
          },
          {
            "allOf": [
              {
                "$ref": "#/components/schemas/EmptyTriggerFilters"
              }
            ],
            "additionalProperties": {}
          }
        ],
        "description": "Conditions that determine whether the selected integration event starts the agent. Available fields depend on the integration and event type."
      },
      "AtlassianIssueAddedToBoardFilters": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          },
          "boards": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is on one of the specified boards"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was moved to one of the specified statuses (board columns)"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          },
          "includeNewIssues": {
            "type": "boolean",
            "description": "Also trigger for newly created issues (not just status changes)"
          }
        }
      },
      "AtlassianIssueAssignedToUserFilters": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          },
          "includeNewIssues": {
            "type": "boolean",
            "description": "Also trigger for newly created issues that are already assigned"
          }
        }
      },
      "AtlassianIssueCreatedFilters": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "issueTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for the specified issue types, such as Story, Bug, or Sub-task."
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          }
        }
      },
      "AtlassianIssueLabelAddedFilters": {
        "type": "object",
        "properties": {
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if one of the specified labels was added"
          }
        }
      },
      "AtlassianIssueStatusChangedFilters": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was moved to one of the specified statuses"
          },
          "previousStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger when the issue changes from one of the specified previous statuses."
          },
          "issueTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for the specified issue types, such as Story, Bug, or Sub-task."
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          }
        }
      },
      "AtlassianIssueUpdatedFilters": {
        "type": "object",
        "properties": {
          "projects": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          },
          "issueTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for the specified issue types, such as Story, Bug, or Sub-task."
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          }
        }
      },
      "BitbucketPullRequestOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request was opened by one of the specified users"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubCreateFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refType": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "branch",
                "tag"
              ]
            },
            "description": "Only trigger for the specified Git reference type: branch or tag."
          },
          "branchNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tagNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "GithubIssueClosedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was opened by one of the specified users"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created issues (disabled by default)"
          }
        }
      },
      "GithubIssueCommentCreatedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the comment is in one of the repositories"
          },
          "commentedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the comment was created by one of the specified users"
          },
          "commentOn": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "issues",
                "pull_requests"
              ]
            },
            "description": "Trigger on comments on issues, pull requests, or both"
          },
          "messageContains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the comment contains one of these substrings"
          }
        }
      },
      "GithubIssueOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was opened by one of the specified users"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created issues (disabled by default)"
          }
        }
      },
      "GithubPullRequestClosedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request was opened by one of the specified users"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubPullRequestMergedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "mergedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request was merged by one of the specified users"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubPullRequestOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request has at least one of the specified labels"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request was opened by one of the specified users"
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request targets one of these branches"
          },
          "draftPrs": {
            "type": "boolean",
            "description": "Trigger also for draft pull requests (disabled by default)"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubPullRequestReadyForReviewFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request was opened by one of the specified users"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubReleasePublishedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the release is in one of the repositories"
          }
        }
      },
      "GithubPullRequestSynchronizeFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "pushedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the commits were pushed by one of the specified users"
          },
          "draftPrs": {
            "type": "boolean",
            "description": "Trigger even if the pull request is a draft"
          },
          "temboPrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created pull requests (disabled by default)"
          }
        }
      },
      "GithubTemboPullRequestOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pull request is in one of the repositories"
          },
          "draftPrs": {
            "type": "boolean",
            "description": "Also trigger for draft pull requests"
          }
        }
      },
      "GithubWorkflowRunFailedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the workflow run is in one of the repositories"
          },
          "workflowNames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for specific workflow names"
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for specific branches"
          }
        }
      },
      "GitlabBotMergeRequestCommentFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the comment is in one of the repositories"
          },
          "botUsernames": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the comment is from one of these bot usernames"
          }
        }
      },
      "GitlabIssueClosedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the repositories"
          },
          "closedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was closed by one of the specified users"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created issues (disabled by default)"
          }
        }
      },
      "GitlabIssueOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the repositories"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was opened by one of the specified users"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created issues (disabled by default)"
          }
        }
      },
      "GitlabMergeRequestClosedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request is in one of the repositories"
          },
          "closedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request was closed by one of the specified users"
          },
          "temboMrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created merge requests (disabled by default)"
          }
        }
      },
      "GitlabMergeRequestMergedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request is in one of the repositories"
          },
          "mergedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request was merged by one of the specified users"
          },
          "temboMrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created merge requests (disabled by default)"
          }
        }
      },
      "GitlabMergeRequestOpenedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request is in one of the repositories"
          },
          "draftMrs": {
            "type": "boolean",
            "description": "Include draft merge requests. Drafts are excluded when omitted or false."
          },
          "temboMrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created merge requests (disabled by default)"
          }
        }
      },
      "GitlabMergeRequestUpdatedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the merge request is in one of the repositories"
          },
          "pushedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the commits were pushed by one of the specified users"
          },
          "draftMrs": {
            "type": "boolean",
            "description": "Include draft merge requests. Drafts are excluded when omitted or false."
          },
          "temboMrs": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created merge requests (disabled by default)"
          }
        }
      },
      "GitlabPipelineFailedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the pipeline is in one of the repositories"
          },
          "branches": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger for specific branches"
          }
        }
      },
      "GitlabRefCreatedFilters": {
        "type": "object",
        "properties": {
          "repositories": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "refType": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "branch",
                "tag"
              ]
            },
            "description": "Only trigger for the specified Git reference type: branch or tag."
          },
          "branchNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tagNames": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "LinearIssueCreateFilters": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue belongs to one of the specified teams"
          },
          "states": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue state type matches one of the specified types"
          },
          "openedBy": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was opened by one of the specified users"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-created issues (disabled by default)"
          }
        }
      },
      "LinearIssueLabelAddedFilters": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue belongs to one of the specified teams"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if one of the specified labels was added to the issue"
          }
        }
      },
      "LinearIssueStatusChangedFilters": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue belongs to one of the specified teams"
          },
          "statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue was moved to one of the specified statuses"
          },
          "previousStatuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger when the issue changes from one of the specified previous statuses."
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          }
        }
      },
      "LinearIssueUpdatedFilters": {
        "type": "object",
        "properties": {
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue belongs to one of the specified teams"
          },
          "states": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue state type matches one of the specified types"
          },
          "assignedTo": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is assigned to one of the specified users"
          },
          "labels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue has at least one of the specified labels"
          },
          "temboIssues": {
            "type": "boolean",
            "description": "Enable agent for Tembo-updated issues (disabled by default)"
          }
        }
      },
      "SentryIssueCreatedFilters": {
        "type": "object",
        "properties": {
          "priorities": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "high",
                "medium",
                "low"
              ]
            },
            "description": "Only trigger if the issue has one of the specified priorities"
          },
          "projectSlugs": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the issue is in one of the specified projects"
          }
        }
      },
      "SlackMessageReactionAddedFilters": {
        "type": "object",
        "properties": {
          "emojis": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if one of these emoji reactions is added"
          },
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the reaction is added in one of these channels"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the reaction is added by one of these user names"
          }
        }
      },
      "SlackMessageSentInChannelFilters": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the message is sent in one of the channels"
          },
          "users": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the message was sent by one of these user names"
          },
          "messageContains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Only trigger if the message contains one of these substrings"
          }
        }
      },
      "EmptyTriggerFilters": {
        "type": "object"
      },
      "GlobalMcpServers": {
        "type": "object",
        "properties": {
          "mcpServers": {
            "type": "object",
            "additionalProperties": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "stdio"
                    },
                    "command": {
                      "type": "string",
                      "minLength": 1
                    },
                    "args": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "env": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "command"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "http"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "url"
                  ],
                  "additionalProperties": true
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "const": "sse"
                    },
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "headers": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "type",
                    "url"
                  ],
                  "additionalProperties": true
                }
              ]
            }
          }
        },
        "required": [
          "mcpServers"
        ],
        "additionalProperties": true
      },
      "McpServerConfigurationObject": {
        "type": "object",
        "additionalProperties": {},
        "description": "MCP server configuration with transport-specific settings."
      },
      "AgentRunMetadata": {
        "type": "object",
        "additionalProperties": {},
        "description": "Additional metadata associated with the agent run."
      },
      "AgentRunEventPayload": {
        "type": "object",
        "additionalProperties": {},
        "description": "Custom webhook input. Arbitrary keys and nested JSON values are preserved and passed to the agent."
      },
      "AgentRunFailure": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/AgentRunFailureDetails"
          },
          {
            "$ref": "#/components/schemas/AgentRunFailureObject"
          },
          {
            "type": "string"
          },
          {
            "type": "number"
          },
          {
            "type": "boolean"
          },
          {
            "type": "array",
            "items": {}
          },
          {
            "type": "null"
          }
        ]
      },
      "AgentRunFailureDetails": {
        "type": "object",
        "properties": {
          "error": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/SerializedAgentRunError"
              },
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "null"
              },
              {
                "type": "array",
                "items": {}
              }
            ]
          },
          "sentryErrorId": {
            "type": "string"
          }
        },
        "additionalProperties": true
      },
      "SerializedAgentRunError": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "stack": {
            "type": "string"
          },
          "code": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              }
            ]
          },
          "cause": {}
        },
        "additionalProperties": true
      },
      "AgentRunFailureObject": {
        "type": "object",
        "additionalProperties": {},
        "description": "Details of an agent run failure, including runtime-specific error fields."
      }
    }
  },
  "paths": {
    "/session/create": {
      "post": {
        "operationId": "createSessionCompatibility",
        "summary": "Create a session",
        "description": "Create a session. For new integrations, use POST /v1/sessions.",
        "tags": [
          "public-api"
        ],
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "agentId": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "uuid"
                    },
                    "artifactType": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "PullRequest",
                        "ToolCall",
                        "Plan",
                        "Response",
                        "File",
                        "Service",
                        "Source",
                        null
                      ]
                    },
                    "baseBranch": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "branchName": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "externalId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "externalUrl": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "kind": {
                      "type": "string"
                    },
                    "lastQueuedAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "format": "date-time"
                    },
                    "lastSeenAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "level": {
                      "type": "integer"
                    },
                    "mode": {
                      "type": "string",
                      "enum": [
                        "normal",
                        "planning"
                      ],
                      "default": "normal"
                    },
                    "projectId": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "sandboxSize": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "nano",
                        "micro",
                        "small",
                        "medium",
                        "large",
                        "xl",
                        "xxl",
                        "ultra",
                        null
                      ]
                    },
                    "sessionType": {
                      "type": "string",
                      "enum": [
                        "Chat",
                        "Terminal"
                      ],
                      "default": "Chat"
                    },
                    "targetBranch": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "title": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "visibility": {
                      "type": "string",
                      "enum": [
                        "public",
                        "private"
                      ],
                      "default": "public"
                    },
                    "artifacts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "PullRequest",
                              "ToolCall",
                              "Plan",
                              "Response",
                              "File",
                              "Service",
                              "Source"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "pullRequest": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "url": {
                                  "type": "string",
                                  "format": "uri"
                                },
                                "title": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "open",
                                    "merged",
                                    "closed"
                                  ]
                                },
                                "isDraft": {
                                  "type": "boolean"
                                },
                                "sourceBranch": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "createdAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "agent": {
                                  "type": [
                                    "string",
                                    "null"
                                  ]
                                },
                                "diff": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "additions": {
                                      "type": "integer",
                                      "minimum": 0
                                    },
                                    "deletions": {
                                      "type": "integer",
                                      "minimum": 0
                                    },
                                    "data": {
                                      "type": "string",
                                      "maxLength": 1000000
                                    }
                                  }
                                },
                                "updatedAt": {
                                  "type": "string",
                                  "format": "date-time"
                                },
                                "codeRepository": {
                                  "type": [
                                    "object",
                                    "null"
                                  ],
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "format": "uuid"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "owner": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "baseBranch": {
                                      "type": [
                                        "string",
                                        "null"
                                      ]
                                    },
                                    "provider": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "id",
                                    "name",
                                    "owner",
                                    "baseBranch",
                                    "provider"
                                  ],
                                  "additionalProperties": false
                                },
                                "metadata": {
                                  "type": "object",
                                  "properties": {
                                    "baseBranch": {
                                      "type": "string",
                                      "maxLength": 500
                                    },
                                    "headSha": {
                                      "type": "string",
                                      "maxLength": 200
                                    },
                                    "author": {
                                      "type": "object",
                                      "properties": {
                                        "avatarUrl": {
                                          "type": "string",
                                          "format": "uri"
                                        },
                                        "login": {
                                          "type": "string",
                                          "maxLength": 500
                                        }
                                      }
                                    }
                                  }
                                }
                              },
                              "required": [
                                "id",
                                "url",
                                "title",
                                "status",
                                "isDraft",
                                "sourceBranch",
                                "createdAt",
                                "agent",
                                "diff",
                                "updatedAt",
                                "codeRepository",
                                "metadata"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "createdAt",
                          "updatedAt",
                          "pullRequest"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ]
                    },
                    "diffSummary": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "additions": {
                          "type": "integer"
                        },
                        "deletions": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "additions",
                        "deletions"
                      ],
                      "additionalProperties": false
                    },
                    "htmlUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "isPinned": {
                      "type": "boolean"
                    },
                    "project": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        },
                        "icon": {
                          "type": "string",
                          "enum": [
                            "folder",
                            "code",
                            "terminal",
                            "book",
                            "brain",
                            "bug",
                            "building",
                            "cloud",
                            "globe",
                            "idea",
                            "tools",
                            "magic",
                            "processor",
                            "sandbox",
                            "server",
                            "tasks",
                            "tactics",
                            "images",
                            "database",
                            "api",
                            "mobile",
                            "package"
                          ]
                        },
                        "color": {
                          "type": "string",
                          "enum": [
                            "neutral",
                            "red",
                            "orange",
                            "yellow",
                            "green",
                            "teal",
                            "blue",
                            "purple",
                            "pink"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "icon",
                        "color"
                      ],
                      "additionalProperties": false
                    },
                    "sessionSource": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "name": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string"
                        },
                        "repositories": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "format": "uuid"
                              },
                              "name": {
                                "type": "string"
                              },
                              "provider": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "provider"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "type",
                        "repositories"
                      ],
                      "additionalProperties": false
                    },
                    "sourcePullRequest": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "url": {
                          "type": "string",
                          "format": "uri"
                        },
                        "title": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "open",
                            "merged",
                            "closed"
                          ]
                        },
                        "isDraft": {
                          "type": "boolean"
                        }
                      },
                      "required": [
                        "id",
                        "url",
                        "title",
                        "status",
                        "isDraft"
                      ],
                      "additionalProperties": false
                    },
                    "state": {
                      "type": "object",
                      "properties": {
                        "current": {
                          "type": "string",
                          "enum": [
                            "inProgress",
                            "queued",
                            "completed",
                            "failed",
                            "cancelled"
                          ]
                        },
                        "isQueued": {
                          "type": "boolean"
                        },
                        "isCancelled": {
                          "type": "boolean"
                        },
                        "isCompleted": {
                          "type": "boolean"
                        },
                        "isFailed": {
[...]
